@import "../../libs/values";
.breadcrumbs {
  font-size: 1.0836rem;
  color: #a3a3a3;
  margin-bottom: 30px;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;


  &__item {

  }
  &__link {
    display: inline-block;

    &::after {
      content: '>';
      margin: 0 10px;
    }
  }

  &__current {
    color: $firstColor;
    font-weight: 500;
  }
}