@import "../../libs/values";

html {
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1.25em;
  text-size-adjust: 100%;
  padding-top: $asidePosition;

  @media  (min-width: 1280px) {
    font-size: calc(0.00469 * 100vw + 9px);
  }
}

body {
  line-height: 1.4;
  font-size: .8rem;
  margin: 0;
  direction: ltr;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  background: #fff;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::before, *::after {
  box-sizing: inherit;
}
@media print {
  .hidden-print {
    display: none !important;
  }
}

.main {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 101;

  .desktop & {
    margin-left: calc(13.88889vw - 2.36111px);
  }
}

p {
  margin: 0 0 10px 0;
}
ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-link {
  display: block;
}

.list-inline > .list-item {
  display: inline-block;
  vertical-align: top;
}

.list-float::before,
.list-float::after {
  content: ' ';
  display: table;
}

.list-float::after {
  clear: both;
}

.list-float > .list-item {
  float: left;
}

.list-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.list-flex > * {
  min-width: 0;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s, opacity 0.25s, transform 0.25s;

}
h1, h2 {
  font-size: 2.1672rem;
}
h1, h2, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0 0 20px 0;
  font-weight: normal;
  color: #000;
  text-rendering: optimizelegibility;
  line-height: 1.2;
}
h2 {
  font-size: 1.806rem;
}

h3 {
  font-size: 1.5652rem;
}

h4 {
  font-size: 1.3242rem;;
}

h5, h6 {
  font-size: 1.205rem;
}

.h2 {
  font-size: 1.806rem;
}

.h3 {
  font-size: 1.5652rem;
}

.h4 {
  font-size: 1.3242rem;;
}

.h5, .h6 {
  font-size: 1.205rem;
}
a:hover {
  text-decoration: none;
}

a:not([class]) {
  text-decoration: underline;
}

a:not([class]):hover {
  text-decoration: none;
  color: $firstColor;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 15px 10px;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #ffffff;
  font-size: 0.8428rem;
  text-transform: uppercase;
  text-align: center;
  vertical-align: top;
  font-weight: 500;
  transition: color 0.25s, background-color 0.25s, opacity 0.25s, border-color 0.25s;
}

.button-primary {
  background-color: $firstColor;
}

.button-secondary {
  background-color: $secondColor;
}





.wrapper {
  .tablet & {
    padding-top: 65px;
  }
  .mobile & {
    padding-top: 50px;
  }
}



